.rowa{
	width: auto;
	clear: both;
}
.row1{
	width: auto;
	clear: both;
	min-height:1.5em;
	margin-top: 2.5em;
}
.col_left{
	float: left;
	width: 8.55em;
	padding: 6px;
	font-weight:bold;
}
.col_right{
	float: left;
	width: 20em;
	font-weight:bold;
}
.col_ad{
	float: left;
	width: 10em;
	padding: 6px;
}
.col_ad1{
	float: left;
	width: 15em;
	padding: 6px;
}
.my_botton{
	background: none repeat scroll 0 0 #2EA2CC;
    border-color: #0074A2;
    box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    text-decoration: none;
}


