.pri_container{
	margin: auto;
	border:2px solid #e6e6e6;
	padding-bottom: 1em;
	padding-top: 1em;
	margin-bottom: 1em;
}
.seg{
	padding: 1em;
	margin: auto;
}
.rowa{
	padding-bottom: 6px;
	color:#6E6E6E;
	font-weight:bold;
	text-align:center;
}
.selector span {
	display:none;
}
.button-primary_my{
	   -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #E05D22 0%, #D94412 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color -moz-use-text-color #B93207;
    border-image: none;
    border-radius: 2px;
    border-style: none none solid;
    border-width: medium medium 3px;
    color: #FFFFFF;
    display: inline-block;
    padding: 11px 24px 10px;
    text-decoration: none;
}
.row_img{
	padding: 3em;
	border:2px dashed #00FF80;
	background: #CEF6EC;
	margin-bottom:.5em;
}
.row1{
	width: 100%;
	padding-bottom: 6px;
	color:#6E6E6E;
}
.rowfont{
	width: 100%;
	padding-bottom: 6px;
	color:#6E6E6E;
	font-size:12px;
}
.rowcenter{
	width: 17em;
	padding:1em;
	color:#6E6E6E;
	font-weight:bold;
	margin:auto;
	background: #F2F2F2;
	border:2px solid #e6e6e6;
}
.img_thumb{
	float:left;
	width: 30%;
}
.details_list{
	width: 69%;
	float:left;
	height:100px;
}
.line1{
	float:left;
	width: 100%;
	border-bottom:2px solid #e6e6e6;
	margin-top: 1em;
	margin-bottom: 1em;
}
.rowwhat{
	width: 100%;
	padding-bottom: 6px;
	font-size:26px;
	font-weight: bold;
	color: #4B4F4F;
}
.agile_tag{
	border: 1px solid lightgray; 
	display: inline; 
	padding: 2px 6px; 
	border-radius: 5px; 
	background: none repeat scroll 0% 0% skyblue;
}
.agile_category_tag{
	font-size:1.5em;
	float:left;
	margin:.3em 1em;
	background: #87CEEB;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	padding: 2px 12px;
}