/***************************************************************************** Drag&Drop uploader stylesheets by Max Future*/

.qq-uploader { 
    width:100%;
}
.qq-upload-button {
    min-height: 20px;
    padding: 19px;
    background-color: #F5F5F5;
    text-shadow: 0px 1px 0px #FFF;
    color:#333;
    font-weight:900;

}
.qq-upload-list { 
     background-color: #F5F5F5;
}
.qq-upload-list li {
    background-color: #D9EDF7 !important;
    color: rgb(51, 51, 51) !important;
    display: inline-block;
    min-height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
}
.photos_div div, .ajax_preview_img {
    width: 156px;
    height: 125px;
    margin-top: 10px;
}
.ajax_preview_img img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.qq-upload-success { 
    max-width:100%;
}
.qq-upload-file {
    width: 145px;
    height: 1em;
    display: block;
    overflow: hidden;
}
.qq-upload-button input {
    width:auto;
}
